@import 'swiper/css/pagination';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/effect-fade';

/* .swiper {
    width: 70%!important;
} */

.swiper-pagination-bullet {
    top: 0!important;
    gap: 10px!important;
}

.swiper-pagination-horizontal {
    display: flex!important;
    flex-direction: column!important;
    gap: 10px 0!important;
    top: 0!important;
    left: -23%!important;
    overflow-y: scroll;
    width: fit-content!important;
}

.swiper-pagination-bullet-active {
    transition: all ease-in-out .2s;
    border: 2px solid gray!important;
}

.swiper-pagination-horizontal::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.swiper-pagination-horizontal {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}