.pagination .ant-pagination-item-link {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.pagination .ant-pagination-item-container {
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.pagination .anticon.anticon-double-right.ant-pagination-item-link-icon {
    line-height: unset;
}