@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Roboto:wght@500&display=swap");
@import "src/common/scss/variables";

.container {
    width: 100%;
    min-height: 100vh;
    background-color: $gb;
    font-family: 'Open Sans';
    margin: 0;
	padding: 0;
}